<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{title}}{% endblock %}</title>
    <!-- Import CDN Bootstrap -->
    <link
    href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css')}}"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <link
    href="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  {{ moment.include_moment() }}
  {{ moment.locale("id") }}
  </head>
  <body class="my-1">
    <!-- Header -->
       <div class="container">
            <img
              src="{{ url_for('static',filename='gambar/header1.png')}}"
              class="img.fluid"
              style="width: 100%; height: auto"
            />
      </div>
    <!-- End Header -->

    <!-- temp and Humi -->
    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <div class="alert alert-primary" role="alert">Temperatur: {{data[1]}} &deg;C</div>
        </div>
        <div class="col">
          <div class="alert alert-primary" role="alert">Kelembaban: {{data[0]}} %</div>
        </div>
      </div>
    </div>
    <!-- End temp and Humi -->

    <!-- Date and time -->
  <div class="container mt-3">
      <div class="row">
        <div class="col">
          <div class="alert alert-primary" role="alert">{{ moment(waktu).format('Do MMMM YYYY') }}</div>
        </div>
        <div class="col">
          <div class="alert alert-primary" role="alert">Jam : {{ moment(waktu).format('h:mm') }}</div>
        </div>
      </div>
    </div>
    <!-- End date and time -->

    <!-- Button -->
    <div class="container">
      <a href="{{url_for('start')}}">
        <div class="text-center d-grid gap-1">
          <button class="btn btn-primary" type="button">Mulai</button>
        </div>
      </a>
    </div>
    <!-- End button -->
  </body>
</html>
