<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{title}}{% endblock %}</title>
    <!-- Import CDN Bootstrap -->
    <link
    href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css')}}"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  
  </head>
  <body class="my-1">
    <!-- Header -->
     <div class="container">
            <img
              src="{{ url_for('static',filename='gambar/header1.png')}}"
              class="img.fluid"
              style="width: 100%; height: auto"
            />
      </div>
    <!-- End header -->
      
    {% include 'includes/pengeraman.html'%} 
    
    {% include 'includes/perangkat.html'%} 

        <script
        src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
        </script>
  </body>
</html>
